<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <p>Temperatura: <b><%= Event.last.temperature_out %> °C</b></p>
  </div>
  <div class="col-md-3">
    <p>Vlažnost: <b><%= Event.last.humidity_out %> %</b></p>
  </div>
  <div class="col-md-3">
    <p>Pritisak: <b><%= Event.last.pressure_absolute %> hPa</b></p>
  </div>
  <div class="col-md-3">
    <p>prije <b><%= time_ago_in_words(Event.last.created_at) %></b></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id='chart_temperature' class=""></div>
    <%= render_chart(@chart_temperature, 'chart_temperature') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id='chart_humidity' class=""></div>
    <%= render_chart(@chart_humidity, 'chart_humidity') %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id='chart_pressure' class=""></div>
    <%= render_chart(@chart_pressure, 'chart_pressure') %>
  </div>
</div>


<br>
